.container {
	max-width: 1470px;
	margin-inline: auto;
}

body {
	background: url('./image/oboi_4k_na_rabochiy__7.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Poppins";
	color: #FFFFFF;
	a {
		color: inherit;
	}
}
.btn {
	transition: 0.15s ease-out;
	&:hover {
		transform: scale(1.2);
	}
}
.btn_less {
	transition: 0.15s ease-out;
	&:hover {
		transform: scale(0.9);
	}
}
.see_all_link {
	transition: all 0.2s ease-out;
	&:hover {
		color:rgba(211,211,211,0.7);
		text-shadow: #000000 1px 0 10px;
	}
}